# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# IDE
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Model files
*.h5
*.pkl
*.onnx
*.pt
*.pth
